name: Markdown Lint

on:
  push:
    paths:
      - '**/*.md'
      - '.github/workflows/markdown.yml'
  pull_request:
    paths:
      - '**/*.md'
      - '.github/workflows/markdown.yml'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          globs: |
            **/*.md

